/* line 11, ../../compass/sass/_home.scss */
.navbar {
  margin-bottom: 0;
  margin-top: -60px;
}
/* line 15, ../../compass/sass/_home.scss */
.navbar a {
  position: relative;
}
/* line 17, ../../compass/sass/_home.scss */
.navbar a a {
  color: white;
  z-index: 25;
}

/* line 24, ../../compass/sass/_home.scss */
.navbar-wrapper-xs {
  top: 0;
  left: 0;
  z-index: 101;
  margin-bottom: 0;
  border-radius: 0;
  font-size: 14px;
}
/* line 40, ../../compass/sass/_home.scss */
.navbar-wrapper-xs a {
  z-index: 102;
}
/* line 43, ../../compass/sass/_home.scss */
.navbar-wrapper-xs a a {
  z-index: 103;
  color: white;
  text-decoration: none;
}
/* line 48, ../../compass/sass/_home.scss */
.navbar-wrapper-xs a:hover {
  color: orange;
}

/* line 54, ../../compass/sass/_home.scss */
.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  margin-bottom: 0;
  border-radius: 0;
  height: 60px;
  line-height: 60px;
  background-color: white;
  letter-spacing: -0.1px;
  border-bottom: 2.5px solid rgba(0, 0, 0, 0.1);
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 400;
}
/* line 70, ../../compass/sass/_home.scss */
.navbar-wrapper a {
  color: black;
  text-decoration: none;
}
/* line 74, ../../compass/sass/_home.scss */
.navbar-wrapper a:hover {
  color: orange;
}

/* line 79, ../../compass/sass/_home.scss */
.active {
  padding: 5px;
  text-decoration: none;
  border-bottom: 3px solid orange;
  color: orange;
  transition: padding .3s;
}

/* line 86, ../../compass/sass/_home.scss */
.navbar-inverse {
  border: none;
}

/* line 89, ../../compass/sass/_home.scss */
.navbar-inside-wrapper {
  position: relative;
  margin: auto;
  width: 70%;
}
/* line 94, ../../compass/sass/_home.scss */
.navbar-inside-wrapper .each-nav-item {
  display: inline-block;
  text-align: center;
  width: 17%;
}
/* line 98, ../../compass/sass/_home.scss */
.navbar-inside-wrapper .each-nav-item .active {
  color: darkorange;
}
/* line 102, ../../compass/sass/_home.scss */
.navbar-inside-wrapper .ironspirits-logo {
  display: inline-block;
  width: 32%;
  position: relative;
  text-align: center;
}
/* line 108, ../../compass/sass/_home.scss */
.navbar-inside-wrapper .ironspirits-logo img {
  position: absolute;
  padding: 10px;
  height: 83px;
  width: 83px;
  left: 0;
  right: 0;
  margin: auto;
  top: -30px;
  border-radius: 50%;
  overflow: hidden;
}
/* line 120, ../../compass/sass/_home.scss */
.navbar-inside-wrapper .ironspirits-logo .logo-tilt {
  width: 70px;
  height: 70px;
  transform: rotate(45deg);
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -59px;
  background-color: white;
  border-bottom: 2.5px solid rgba(0, 0, 0, 0.1);
  border-right: 2.5px solid rgba(0, 0, 0, 0.1);
}

/* line 141, ../../compass/sass/_home.scss */
.faded-carousel-image {
  filter: brightness(60%);
  max-width: 100%;
}

/* line 151, ../../compass/sass/_home.scss */
.each-carousel-text {
  position: absolute;
  top: 15vw;
  text-align: center;
  width: 100%;
}
/* line 157, ../../compass/sass/_home.scss */
.each-carousel-text h1 {
  color: white;
}

/* line 162, ../../compass/sass/_home.scss */
.carousel-and-text {
  position: relative;
}

/* line 167, ../../compass/sass/_home.scss */
.carousel-text-wrapper {
  position: absolute;
  top: 30px;
  left: 55px;
  right: 55px;
  margin: auto;
  z-index: 20;
  text-align: center;
}
/* line 175, ../../compass/sass/_home.scss */
.carousel-text-wrapper .carousel-text-header {
  font-family: 'Archivo Black';
  font-size: 60px;
  margin: auto;
  margin-top: 14vh;
  color: white;
}
/* line 183, ../../compass/sass/_home.scss */
.carousel-text-wrapper .carousel-text-body .carousel-slogan {
  margin-top: 8vh;
  font-size: 25px;
  color: white;
  letter-spacing: 2px;
}
/* line 189, ../../compass/sass/_home.scss */
.carousel-text-wrapper .carousel-text-body .carousel-quote {
  margin-top: 14vh;
  font-size: 35px;
  color: white;
  font-family: "Calligraffitti";
  letter-spacing: 1.5px;
}

@media (max-width: 1200px) {
  /* line 203, ../../compass/sass/_home.scss */
  .carousel-text-wrapper {
    position: absolute;
    top: 30px;
    left: 55px;
    right: 55px;
    margin: auto;
    z-index: 20;
    text-align: center;
  }
  /* line 211, ../../compass/sass/_home.scss */
  .carousel-text-wrapper .carousel-text-header {
    font-family: 'Archivo Black';
    font-size: 60px;
    margin-top: 9vh;
    color: white;
  }
  /* line 218, ../../compass/sass/_home.scss */
  .carousel-text-wrapper .carousel-text-body .carousel-slogan {
    margin-top: 5vh;
    font-size: 25px;
    color: white;
    letter-spacing: 2px;
  }
  /* line 224, ../../compass/sass/_home.scss */
  .carousel-text-wrapper .carousel-text-body .carousel-quote {
    margin-top: 11vh;
    font-size: 35px;
    color: white;
    font-family: "Calligraffitti";
    letter-spacing: 1px;
  }
}
@media (max-width: 800px) {
  /* line 236, ../../compass/sass/_home.scss */
  .carousel-text-wrapper {
    position: absolute;
    top: 10px;
    left: 55px;
    right: 55px;
    margin: auto;
    z-index: 20;
    text-align: center;
  }
  /* line 244, ../../compass/sass/_home.scss */
  .carousel-text-wrapper .carousel-text-header {
    font-family: 'Archivo Black';
    font-size: 38px;
    margin-top: 20px;
    color: white;
  }
  /* line 251, ../../compass/sass/_home.scss */
  .carousel-text-wrapper .carousel-text-body .carousel-slogan {
    margin-top: 23px;
    font-size: 17px;
    color: white;
    letter-spacing: 2px;
  }
  /* line 257, ../../compass/sass/_home.scss */
  .carousel-text-wrapper .carousel-text-body .carousel-quote {
    margin-top: 50px;
    font-size: 18px;
    color: white;
    font-family: "Calligraffitti";
    letter-spacing: 1px;
  }
}
@media (max-width: 450px) {
  /* line 270, ../../compass/sass/_home.scss */
  .carousel-text-wrapper {
    position: absolute;
    top: 10px;
    left: 55px;
    right: 55px;
    margin: auto;
    z-index: 20;
    text-align: center;
  }
  /* line 278, ../../compass/sass/_home.scss */
  .carousel-text-wrapper .carousel-text-header {
    font-family: 'Archivo Black';
    font-size: 27px;
    margin-top: 10px;
    color: white;
  }
  /* line 285, ../../compass/sass/_home.scss */
  .carousel-text-wrapper .carousel-text-body .carousel-slogan {
    margin-top: 20px;
    font-size: 15px;
    color: white;
    letter-spacing: 2px;
  }
  /* line 291, ../../compass/sass/_home.scss */
  .carousel-text-wrapper .carousel-text-body .carousel-quote {
    margin-top: 40px;
    font-size: 16px;
    color: white;
    font-family: "Calligraffitti";
    letter-spacing: 1px;
  }
}
/* line 304, ../../compass/sass/_home.scss */
.width100vw {
  clear: both;
  width: 100vw;
}

/* line 308, ../../compass/sass/_home.scss */
.after-bootstrap-placeholder {
  width: 100%;
  clear: left;
}

/* line 317, ../../compass/sass/_home.scss */
.offering-header {
  width: 100%;
  height: 90px;
  line-height: 90px;
  background-color: #FFB52C;
  font-family: 'Archivo Black';
  font-size: 28px;
  text-align: center;
  font-weight: 900;
  color: white;
}

/* line 334, ../../compass/sass/_home.scss */
.offering-body {
  background-color: white;
  padding-top: 20px;
  color: darkorange;
}

/* line 340, ../../compass/sass/_home.scss */
.each-offering-wrapper {
  width: 88%;
  margin-left: 6%;
}

/* line 344, ../../compass/sass/_home.scss */
.each-offering {
  text-align: center;
  font-size: 22px;
  font-family: 'Teko';
  height: 200px;
  padding-top: 30px;
  font-weight: 900;
  letter-spacing: 1px;
}

/* line 353, ../../compass/sass/_home.scss */
.each-icon-offering {
  margin-bottom: 20px;
  width: 30%;
}

/* line 362, ../../compass/sass/_home.scss */
.specialty-header {
  width: 100%;
  height: 90px;
  line-height: 90px;
  font-family: 'Archivo Black';
  font-size: 28px;
  text-align: center;
  font-weight: 900;
  background-color: #006FBA;
  color: white;
}

/* line 375, ../../compass/sass/_home.scss */
.specialty-body {
  background-color: white;
  padding-top: 20px;
  color: #343c6b;
}

/* line 380, ../../compass/sass/_home.scss */
.each-specialty-wrapper {
  width: 88%;
  margin-left: 6%;
}

/* line 384, ../../compass/sass/_home.scss */
.each-specialty {
  text-align: center;
  font-size: 22px;
  font-family: 'Teko';
  height: 200px;
  padding-top: 30px;
  font-weight: 900;
  letter-spacing: 1px;
}

/* line 402, ../../compass/sass/_home.scss */
.difference-wrapper {
  opacity: 1;
  overflow: hidden;
  background-color: white;
  position: relative;
}

/* line 409, ../../compass/sass/_home.scss */
.difference-wrapper:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url("../../src/home/images/home.png");
  background-size: contain;
  opacity: .05;
}

@media (max-width: 450px) {
  /* line 423, ../../compass/sass/_home.scss */
  .specialty-header {
    font-size: 20px;
    height: 60px;
    line-height: 60px;
  }

  /* line 428, ../../compass/sass/_home.scss */
  .offering-header {
    font-size: 20px;
    height: 60px;
    line-height: 60px;
  }

  /* line 433, ../../compass/sass/_home.scss */
  .difference-header {
    font-size: 20px;
    height: 60px;
    line-height: 60px;
  }
}
/* line 439, ../../compass/sass/_home.scss */
.difference-header {
  width: 100%;
  height: 90px;
  line-height: 90px;
  background-color: #f1f1f1;
  font-family: 'Archivo Black';
  font-size: 28px;
  text-align: center;
  font-weight: 900;
  color: #3c3c3c;
}

/* line 451, ../../compass/sass/_home.scss */
.difference-header-text {
  padding-top: 40px;
  width: 86%;
  margin-left: 7%;
  font-size: 20px;
}

/* line 458, ../../compass/sass/_home.scss */
.each-difference-wrapper {
  width: 88%;
  margin-left: 6%;
  padding-bottom: 40px;
}

/* line 464, ../../compass/sass/_home.scss */
.each-difference-header {
  font-size: 20px;
  font-weight: 900;
  padding-bottom: 10px;
  padding-top: 40px;
  text-align: left;
}

/* line 471, ../../compass/sass/_home.scss */
.each-difference {
  font-size: 16px;
}

/* line 484, ../../compass/sass/_home.scss */
.home-footer {
  height: 140px;
  background-color: orange;
  padding-top: 15px;
  text-align: center;
  position: relative;
}
/* line 490, ../../compass/sass/_home.scss */
.home-footer .footer-wrapper {
  width: 88%;
  margin-left: 6%;
}

/* line 496, ../../compass/sass/_home.scss */
.footer-connect {
  font-family: "Teko";
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 1px;
  color: white;
  padding-bottom: 5px;
}

/* line 504, ../../compass/sass/_home.scss */
.each-logo {
  width: 40px;
  padding-bottom: 7px;
}

/* line 508, ../../compass/sass/_home.scss */
.each-logo:hover {
  transition: transform .3s, border .3s;
  transform: scale(1.25);
  border-bottom: 3px solid white;
  padding-bottom: 4px;
}

/* line 516, ../../compass/sass/_home.scss */
.rights {
  position: absolute;
  bottom: 5px;
  width: 88%;
  color: #f0f0f0;
}

/* line 523, ../../compass/sass/_home.scss */
.hide-or-not {
  display: none;
}

/* line 527, ../../compass/sass/_home.scss */
.dont-hide {
  display: block;
}

/* line 13, ../../compass/sass/_about.scss */
.about-header .about-header-text {
  color: black;
  padding: 50px 0;
  width: 86%;
  margin-left: 7%;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: .7px;
}

/* line 28, ../../compass/sass/_about.scss */
.about-body-header {
  width: 100%;
  height: 90px;
  line-height: 90px;
  font-family: 'Archivo Black';
  font-size: 25px;
  text-align: center;
  font-weight: 900;
  background-color: #FFB52C;
  color: white;
  margin-bottom: 70px;
}

/* line 41, ../../compass/sass/_about.scss */
.about-body-col-header {
  font-family: 'Archivo Black';
  font-size: 16px;
  color: orange;
  margin-bottom: 7px;
}

/* line 47, ../../compass/sass/_about.scss */
.about-body-col-description {
  font-size: 14px;
  margin-bottom: 30px;
  font-weight: 500;
  color: black;
}

/* line 53, ../../compass/sass/_about.scss */
.about-body-col-left {
  padding: 15px;
  padding-top: 50px;
  width: 32%;
  float: left;
}

/* line 60, ../../compass/sass/_about.scss */
.about-body-col-right {
  padding: 15px;
  padding-top: 0;
  width: 32%;
  float: left;
}

/* line 67, ../../compass/sass/_about.scss */
.about-body-col-image {
  width: 36%;
  float: left;
}
/* line 70, ../../compass/sass/_about.scss */
.about-body-col-image img {
  width: 100%;
}

/* line 8, ../../compass/sass/_homeSections.scss */
.wwd-wrapper {
  width: 100%;
  background-color: #f0f0f0;
}

/* line 12, ../../compass/sass/_homeSections.scss */
.section-header {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  line-height: 100px;
  height: 100px;
  background-color: white;
  margin-bottom: 10px;
  font-family: 'Lato';
}

/* line 29, ../../compass/sass/_homeSections.scss */
.home1-card:hover {
  filter: brightness(70%);
  cursor: pointer;
}

/* line 34, ../../compass/sass/_homeSections.scss */
.home1-wrapper {
  margin-bottom: 20px;
  padding: 25px;
}

/* line 42, ../../compass/sass/_homeSections.scss */
.home1-header {
  font-size: 15px;
  background-color: #4D4D4F;
  width: 100%;
  padding-left: 25px;
  border-top-right-radius: 3%;
  border-top-left-radius: 3%;
  height: 50px;
  line-height: 50px;
  color: white;
  font-family: "Lato";
}

/* line 61, ../../compass/sass/_homeSections.scss */
.home1-body {
  font-family: 'Lato';
  height: 160px;
  background-color: white;
  padding: 25px;
  font-size: 15px;
  border-bottom-right-radius: 3%;
  border-bottom-left-radius: 3%;
}

/* line 81, ../../compass/sass/_homeSections.scss */
.philosophy-wrapper {
  background: white;
  padding-top: 120px;
  padding-bottom: 120px;
  margin-left: .4px;
  margin-right: .4px;
  height: auto;
}

/* line 91, ../../compass/sass/_homeSections.scss */
.section-header2 {
  width: 100%;
  font-size: 30px;
  font-weight: 900;
  line-height: 100px;
  height: 100px;
  background-color: white;
  font-family: 'Lato';
}

/* line 102, ../../compass/sass/_homeSections.scss */
.philosophy-left {
  margin: auto;
  padding-left: 20%;
}

/* line 107, ../../compass/sass/_homeSections.scss */
.philosophy-title {
  font-family: 'Lato';
  font-size: 30px;
  margin-bottom: 30px;
}

/* line 112, ../../compass/sass/_homeSections.scss */
.philosophy-body {
  font-family: 'Lato';
  font-size: 15px;
  line-height: 355%;
  min-width: 408px;
}

/* line 121, ../../compass/sass/_homeSections.scss */
.philosophy-strong {
  color: darkblue;
  font-family: "Raleway";
}

/* line 129, ../../compass/sass/_homeSections.scss */
.section-header3 {
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  line-height: 100px;
  height: 100px;
  background-color: #3c3c3c;
  color: white;
  font-family: 'Lato';
}

/* line 141, ../../compass/sass/_homeSections.scss */
.home-footer1 {
  padding-top: 15px;
  text-align: center;
  position: relative;
}
/* line 147, ../../compass/sass/_homeSections.scss */
.home-footer1 .social-media-wrapper {
  height: 400px;
}
/* line 153, ../../compass/sass/_homeSections.scss */
.home-footer1 .social-media-wrapper img {
  margin-top: 150px;
  width: 80px;
}
/* line 156, ../../compass/sass/_homeSections.scss */
.home-footer1 .social-media-wrapper:hover img {
  animation: none;
}

/* line 161, ../../compass/sass/_homeSections.scss */
.aa {
  animation: bounceIcons 1.2s infinite linear;
}

/* line 162, ../../compass/sass/_homeSections.scss */
.bb {
  animation: bounceIcons 1.2s infinite linear;
  animation-delay: .1s;
}

/* line 163, ../../compass/sass/_homeSections.scss */
.cc {
  animation: bounceIcons 1.2s infinite linear;
  animation-delay: .2s;
}

/* line 164, ../../compass/sass/_homeSections.scss */
.dd {
  animation: bounceIcons 1.2s infinite linear;
  animation-delay: .3s;
}

/* line 165, ../../compass/sass/_homeSections.scss */
.ee {
  animation: bounceIcons 1.2s infinite linear;
  animation-delay: .4s;
}

@keyframes bounceIcons {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-7px);
  }
  90% {
    transform: translateY(-3px);
  }
}
/* line 187, ../../compass/sass/_homeSections.scss */
.each-logo1 {
  padding-bottom: 7px;
  margin: 0px 10px;
  margin-bottom: 50px;
}
/* line 193, ../../compass/sass/_homeSections.scss */
.each-logo1:hover {
  filter: brightness(30%);
  transition: filter 0.5s;
}

/* line 201, ../../compass/sass/_homeSections.scss */
.client-wrapper {
  background-color: #e1f5fe;
  text-align: center;
  padding-bottom: 30px;
}

/* line 211, ../../compass/sass/_homeSections.scss */
.section-header5 {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  line-height: 100px;
  height: 100px;
  background-color: white;
  margin-bottom: 10px;
  font-family: 'Lato';
}

/* line 221, ../../compass/sass/_homeSections.scss */
.client-name {
  font-weight: 600;
  font-size: 18px;
  font-family: 'Lato';
  clear: both;
}

/* line 228, ../../compass/sass/_homeSections.scss */
.client-img {
  height: 120px;
  margin-bottom: 20px;
}

/* line 238, ../../compass/sass/_homeSections.scss */
.contact-wrapper span {
  color: white;
}
/* line 241, ../../compass/sass/_homeSections.scss */
.contact-wrapper .section-header4 {
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  padding-top: 50px;
  height: 150px;
  font-family: 'Lato';
}
/* line 251, ../../compass/sass/_homeSections.scss */
.contact-wrapper .section-header4 .contact-body {
  width: 90%;
}

/* line 256, ../../compass/sass/_homeSections.scss */
.name-wrapper {
  position: relative;
  margin-bottom: 20px;
  margin-left: 10%;
  height: 55px;
}

/* line 265, ../../compass/sass/_homeSections.scss */
.contact-form-left {
  top: 0;
  left: 0;
  position: absolute;
  width: 50px;
  background-color: #4D4D4F;
  max-height: 55px;
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 55px;
  font-size: 20px;
  text-align: center;
  border: none;
}
/* line 279, ../../compass/sass/_homeSections.scss */
.contact-form-left span {
  padding: 0;
}

/* line 283, ../../compass/sass/_homeSections.scss */
.contact-form-right {
  top: 0;
  left: 50px;
  position: absolute;
  height: 55px;
  line-height: 55px;
}
/* line 290, ../../compass/sass/_homeSections.scss */
.contact-form-right input {
  border: none;
  height: 55px;
  line-height: 55px;
  padding-left: 20px;
  font-size: 20px;
  width: 400px;
}
/* line 298, ../../compass/sass/_homeSections.scss */
.contact-form-right textarea {
  border: none;
  padding-left: 20px;
  font-size: 20px;
}

/* line 306, ../../compass/sass/_homeSections.scss */
.message-wrapper {
  position: relative;
  margin-left: 10%;
}

/* line 310, ../../compass/sass/_homeSections.scss */
.contact-form-left1 {
  top: 0;
  left: 0;
  position: absolute;
  width: 50px;
  height: 202px;
  line-height: 202px;
  background-color: #4D4D4F;
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 20px;
  text-align: center;
  border: none;
}
/* line 326, ../../compass/sass/_homeSections.scss */
.contact-form-left1 span {
  padding: 0;
}

/* line 330, ../../compass/sass/_homeSections.scss */
.contact-form-right1 {
  top: 0;
  left: 50px;
  position: absolute;
  display: inline-block;
  font-size: 20px;
  line-height: 30px;
}
/* line 340, ../../compass/sass/_homeSections.scss */
.contact-form-right1 textarea {
  padding-top: 20px;
  border: none;
  line-height: 20px;
  padding-left: 20px;
  font-size: 20px;
  width: 400px;
}

/* line 351, ../../compass/sass/_homeSections.scss */
.contact-submit {
  position: absolute;
  top: 220px;
  left: 0;
  width: 450px;
  margin-bottom: 40px;
}
/* line 357, ../../compass/sass/_homeSections.scss */
.contact-submit input {
  border: none;
  background-color: #4D4D4F;
  width: 100%;
  height: 50px;
  font-size: 20px;
  line-height: 20px;
  color: white;
}
/* line 365, ../../compass/sass/_homeSections.scss */
.contact-submit input:hover {
  opacity: 0.7;
}

/* line 372, ../../compass/sass/_homeSections.scss */
.sendMessage {
  margin-left: 10%;
  font-size: 18px;
}

/* line 377, ../../compass/sass/_homeSections.scss */
.header-glyphicon {
  color: #6f6f6f !important;
  margin-top: 16px;
  font-size: 22px;
}

/* line 6, ../../compass/sass/styles.scss */
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding-top: 60px;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #e1e1e1;
}
